* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #eight-ball {
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #message-area {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .question-area {
    display: flex;
    flex-flow: column;
    max-width: 300px;
  }