<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue App</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- Content goes here -->
      <h1>Vue Address Book</h1>
      <div id="input-area">
        <label>
          <span>Enter Name:</span>
          <input type="text" v-model="fullname" placeholder="Name..." required>
        </label>
        <label>
          <span>Enter Phone Number:</span>
          <input type="tel" v-model="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="888-888-8888">
        </label>
        <label>
          <span>Enter Address:</span>
          <input type="text" v-model="address" placeholder="Address...">
        </label>
      </div>
      <button v-on:click="addContact()" id="record">Record Address</button>

      <div class="address-area" v-for="contact in addresses">
        <p>Name: {{contact.full_name}}</p>
        <p>Phone Number: {{contact.full_number}}</p>
        <p>Address: {{contact.full_address}}</p>
        <button v-on:click="deleteContact(contact)" id="delete">Delete</button>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>