* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ad2a16;
    color: white;
    padding: 10px;
}

p {
    padding: 5px;
}

button {
    margin-left: 5px;
    padding: 1px 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}