* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background: teal;
    min-height: 100vh;
    color: white;
}

input {
    color: black;
    background-color: white;
    border: none;
    height: 20px;
    border-radius: 4px;
    width: 70px;
}

h1 {
    padding: 10px;
}

#dice-faces {
    padding: 10px;
}

#dice-faces p {
    margin-bottom: 5px;
}

#dice-faces button {
    margin-left: 6px;
    padding: 1px 5px;
    border-radius: 4px;
    background-color: maroon;
    color: white;
    cursor: pointer;
}

.dice-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.die {
    width: 100px;
    height: 100px;
    background-color: maroon;
    margin: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.die span:nth-child(2) {
    font-size: 36px;
}

button {
    margin: 10px;
    padding: 1px 5px;
    background-color: maroon;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}