* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --darkpurple: #3F3FB5;
    --purple: #5352ED;
    --lightpurple: #DBDBF6;
    --offwhite: #F1F1F8;
    --grey: #D0D0D3;
}

body {
    background-color: var(--offwhite);
    color: black;
}

.button {
    width: fit-content;
    border-radius: 3px;
    background-color: var(--darkpurple);
    color: white;
    padding: 5px 10px;
}

.button:hover {
    cursor: pointer;
}

#title {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 50px;
    color: var(--darkpurple);
}

#navbar {
    display: flex;
    justify-content: space-around;
}

#wrapper {
    display: flex;
    justify-content: center;
}

.folder {
    background-color: white;
    color: black;
    margin: 15px 50px;
    padding: 20px 20px 5px 20px;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.folder-name {
    padding: 8px;
}

.folder-creator {
    padding: 5px;
}

.flashcard-container {
    width: 100%;
}

.flashcard {
    background-color: var(--lightpurple);
    margin: 15px 5px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.flashcard-term {
    font-weight: bolder;
    margin-bottom: 4px;
}

.button-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 5px;
    width: -webkit-fill-available;
}

.button-div .button {
    margin-right: 10px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1000; /* Ensure it's on top of other elements */
}

#login-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001; /* Ensure it's on top of the overlay */
}

#username-input {
    width: -webkit-fill-available;
    height: 30px;
    border-radius: 7px;
    font-size: large;
    padding-left: 4px;
}

#signup-div {
    /* Same styling as login-div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001; /* Ensure it's on top of the overlay */
}

#signup-input {
    width: -webkit-fill-available;
    height: 30px;
    border-radius: 7px;
    font-size: large;
    padding-left: 4px;
}

#create-folder-div {
    /* Same styling as login-div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001; /* Ensure it's on top of the overlay */
}

#create-flashcard-div {
    /* Same styling as login-div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001; /* Ensure it's on top of the overlay */
}

#edit-folder-div {
    /* Same styling as login-div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001; /* Ensure it's on top of the overlay */
}

#create-flashcard-div {
    /* Same styling as login-div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001; /* Ensure it's on top of the overlay */
}

#edit-flashcard-div {
    /* Same styling as login-div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001; /* Ensure it's on top of the overlay */
}

.icon {
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    border-color: var(--darkpurple);
    padding: 4px;
}

.icon:hover {
    cursor: pointer;
}

#folder-down-arrow {
    width: 37px;
    height: 21px;
    margin-top: 5px;
}