body {
	font-family: sans-serif;
}

.row-head, .row-body {
	height: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	padding: 12px 24px;
	margin: 6px 0px;
}

.row-head div {
	display: flex;
	justify-content: center;
}

.row-body div {
	display: flex;
	justify-content: center;
}